body {
    background-color: antiquewhite }
  h1{
    text-align: center;
    
  }
  
  h1,h2,th {
    font-style: inherit;
    color: navy;
    margin-left: 20px;
  }

  h3{
    font-style: oblique;
  }

  table,tr, td{
    padding: 10px;
    border:1px solid black;
    border-collapse: collapse;
  }
